@media screen and (max-width: 1360px) {
    .container-section {
        padding: 40px 25px;
    }

    .container-home {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .container-home-hero {
        padding: 10px;
        margin-top: 0;
    }

    .titleHome {
        font-size: 1.9rem;
    }

    .subtitleHome {
        width: 100%;
        font-size: 1.25rem;
        margin-bottom: 60px;
    }

    .button-see-prices {
        width: 190px;
        font-size: 1.2rem;
    }

    .image-home {
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
    }

    .image-home img {
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .container-advantages{
        flex-direction: column;
        padding: 0 17px;
    }

    .container-advantages .titles{
        font-size: 1.9rem;
        margin-bottom: 30px;
    }

    .container-advantages .subtitles{
        font-size: 1.25rem;
    }

    .titles{
        font-size: 2.2rem;
    }

    .subtitles{
        font-size: 1.35rem;
    }

    .advantage-image{
        padding: 0 0 50px 0;
    }

    .advantage-image img{
        width: 100%;
    }

    .steps-htu {
        flex-direction: column;
        gap: 60px;
    }

    .steps-htu:last-child{
        margin-bottom: 20px;
    }

    .case-step{
        width: 100%;
        padding: 30px;
    }

    .case-step img{
        width: 100%;
        padding: 10px;
    }

    .case-step .subtitles{
        font-size: 1.25rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .plans-case{
        flex-direction: column;
        gap: 45px;
    }

    .plan-case{
        width: 100%;
        padding: 30px;
    }

    
}